.btn {
  font-weight: $fontBold;
  font-family: $fontTitle;
  font-size: $fontSm;
  background-color: $mainColor;
  color: $lightColor;
  padding: 0.75rem 4rem;
  cursor: pointer;
  border: none;
  outline: none;
  width: fit-content;
  letter-spacing: 1px;

  &-full {
    padding-left: auto;
    padding-right: auto;
    width: 100%;
  }

  &-sm {
    // padding: 4px 6px;
  }

  &-md {
    // padding: 4px 6px;
  }

  &-lg {
    // padding: 4px 6px;
  }

  &-xl {
    // padding: 4px 6px;
  }
}

.navbar {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 765px;
  margin: 0 auto;
  padding: 1.25rem 2rem;
  background-color: $darkColor;
  border: 2px solid $mainColor;

  &-link {
    font-weight: $fontMedium;
    font-family: $fontTitle;
    font-size: $fontSm;
    text-decoration: none;
    color: $lightColor !important;

    &.active {
      color: $mainColor !important;
      text-decoration: underline;
    }
  }
}
