// Colors
$mainColor: #3b82f6;
$darkColor: #020817;
$lightColor: #fafafa;

// Font Family
$fontTitle: "DM Serif Text", serif;
$fontRegular: "Fira Code", serif;

// Font Weights
$fontNormal: normal;
$fontMedium: 500;
$fontBold: 700;
$fontBolder: 900;
