// Colors
$mainColor: #3b82f6;
$darkColor: #020817;
$lightColor: #fafafa;
$grayColor: #565a64;

// Font Family
$fontTitle: "DM Serif Text", serif;
$fontRegular: "Fira Code", serif;

// Font Size
$fontXs: 0.75rem;
$fontSm: 1rem;
$fontBase: 1.25rem;
$fontLg: 3.25rem;
$fontXl: 4.5rem;
$font2xl: 5.25rem;
$font3xl: 7rem;

// Font Weights
$fontNormal: normal;
$fontMedium: 500;
$fontBold: 700;
$fontBolder: 900;
